<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MeterVueDataSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SyncDatabase" connectionString="Data Source=localhost;Initial Catalog=metervuedata;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MeterVueURL_APIName" value="AdamJefferies"/>
    <add key="MeterVueURL_APIKey" value="E1DC2D04-B2CD-43E1-9F32-E65633E72C9E"/>
    <add key="MeterVueURL_MetersURL" value="http://localhost:54593/meters/"/>
    <add key="MeterVueURL_DataURL" value="http://localhost:54593/latestdata/"/>    
  </appSettings>
  <userSettings>
    <MeterVueDataSync.Properties.Settings>
      <setting name="LatestData" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
    </MeterVueDataSync.Properties.Settings>
  </userSettings>
</configuration>